.home .dropcap{
font-size: 1em;
background: blue;
padding: .25em;
color: #fff;
margin: .25em;
float: left;
}

.bio p, li{
	font-family: 'Droid Serif', serif;
}

.bio .container {
	margin: 0 auto;
	width: 50%
}

.bio h1, h2{font-family: 'Droid Serif', serif;
text-transform: uppercase;
}

body {
	background: yellow;
}
.home img {
	width: 320px;
}
.home td{
    border-right: solid;
}

}
.home p{
text-indent: 50px;
font-family: 'Droid Serif', serif;
}
.home ul{
	margin-left: 50px;
}
.portfolio p{
	font-style: bold;
}
p {
line-height:1.25em;
margin-bottom: 1em;
}
/* change the heading1 to be navy color */
h1 {
color: navy;
}
/* the main shell holding all div tags */
#wrapper {
width: 755px;
position:relative;
margin: auto;
background-color:#0FF;
}
/* top navigation div */
#navcontainer ul {
background-color: #036;
float: left;
width: 100%;
padding-right: 32px; 
padding: 0; 
margin: 0; 
}
#navcontainer ul li { 
display: inline;
}
#navcontainer ul li a {
padding: 0.2em 1em;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
color: #fff;
}

#navcontainer ul li a:hover { /* controls the over or hover state of rollover */
background-color: #369;
}
#navcontainer ul li #current { /* sets the link of the active page tab color to be different */
background-color: #369;
}
#main {
float: left;
width: 100%;
background-color:#FFFF00;
padding-left:2em;
}
/* adding margin-left will move the UnorderedList inside wrapper */
#main ul {
margin-left:40px;
}
/* float picture left, add margin to keep text away from image, add width */
#pictureL {
width: 300px;
float:left;
margin:10px;
}
/* float picture right, add margin to keep text away from image, add width */
#pictureR {
width: 50%;
float:right;
margin:10px;
}
/* set text color to white, background color to #036, position to absolute */
/* bottom postion to 0px, and width to 100% */
#footer {
color:#FFF;
background-color: #036;
bottom: 0px;
width: 100%;
padding-right: 32px; /* fits content to match navcontainer width */
}
/* align the text to center, and margin 0 */
#footer p {
text-align:center;
margin:0;
}
/* sets the anchors in the footer id to be white and no underline */
#footer a {
color:#FFF;
text-decoration:none;
}
#footer a:hover {
color:#369;
}
