.bio .dropcap{
font-size: 5em;
background: blue;
padding: .5em;
color: #fff;
margin: .25em;
float: left;
}

.bio p, li{
	font-family: 'Droid Serif', serif;
}

.bio .container {
	margin: 0 auto;
	width: 50%
}

.bio h1, h2{font-family: 'Droid Serif', serif;
text-transform: uppercase;
}
body {
	background: #f0f;
}
img {
	width: 320px;
}
td{
    border-right: solid;
}
h1{

}
h2{
text-align: center;

}
h3{
	text-transform: uppercase;
}
h4{
text-indent: 50px;
line-height: 0px;
}
h5{
text-transform: bold;
}
h6{
	font-size: 15px;
}

h7{
	font-size: 15px;
}
p{
text-indent: 50px;
}
ul{
	margin-left: 50px;
}
li{

}